@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

:root {
  /* text */
  --text: #ffffff;
  --text-button: #ffffff;
  --text-rgb: 232, 234, 237;

  /* shadow */
  --shadow: rgba(255, 255, 255, 0.2);

  /* header */
  --header-bg: rgba(6, 6, 6, 0.1);

  /* footer */
  --footer-bg: #090909;

  /* background */
  --background: #090909;
  --card: #000;
  --background-button: rgba(7, 7, 7, 0.3);
  --background-secondary: #252525;
  --background-blur: rgba(32, 33, 36, 0.8);
  --hover-background: #2a2a2a;
  --table-popular-background: rgba(37, 37, 37, 0.8);

  /* foreground */
  --foreground-button: #121212;

  /* skeleton */
  --skeleton-bg: #2a2a2a;
  --skeleton-highlight: #353535;

  /* error */
  --error-background: #aa0011;
  --error: #f28b82;

  --red: rgb(253, 100, 100);

  /* accent */
  --pink-light: #6d5869;
  --pink-light-half: rgba(109, 88, 105, 0.25);
  --pink-light-hover: #5b4357;
  --accent: #eb20c3;
  --accent-hover: #d11aa9;
  --accent-disabled: #f4a7e6;

  /* border */
  --border: #c1c1c1;
  --border-light: #1b1b1b;

  /* blue */
  --blue: #1c7ed6;

  /* yellow */
  --yellow: #fab005;

  /* gray */
  --tooltip-gray: #626262;
  --gray: #b6b6b6;
  --text-grey: #c1c1c1;

  /* green */
  --green: #81c995;
  --green-dark: #5bb974;
  --green-light: #1e3a2a;

  /* gradient text */
  --line-left-start: #000000;
  --line-left-mid: #e0e0e0;
  --line-left-end: #ffffff;
  --gradient: linear-gradient(135deg, #1a1a1a 0%, #2d2d2d 60%, #242424 100%);
  --line-gradient: linear-gradient(
    135deg,
    #0b0b0b 0%,
    #353535 10%,
    #656565 60%,
    #ffffff 100%
  );
  --section-gradient: linear-gradient(
    135deg,
    #0b0b0b 0%,
    #101010 10%,
    #161414 60%,
    #060505 100%
  );
}

.skeleton {
  background-color: var(--skeleton-bg);
  background-image: linear-gradient(
    90deg,
    var(--skeleton-bg) 0%,
    var(--skeleton-highlight) 50%,
    var(--skeleton-bg) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite linear;
}
